* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;  
    max-width: 1280px;
    margin: 0 auto;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}


/* header
========================= */
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #4d98a4;
}

.logo {
    width: 46%;
    margin: 2vw;
    font-size: 4em;
    font-family: 'Cherry Swash', cursive;
    color: #ffffff;
}

.nav{
    display: flex;
    align-items: center;
    width: 60%;
    font-size: 2em;
    color: #DCE3E4;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style-type: none;
}

.burger {
    display: flex;
}

.gamburger {
    position: relative;
    width: 30px;
    height: 3px;
    margin-top: calc(5vh - 10px);
    margin-left: calc(5vw - 50px);
    background: white;
}

.gamburger::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 30px;
    height: 3px;
    background: white;
}

.gamburger::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 30px;
    height: 3px;
    background: white;
}

.slash {
    position: relative;
    background: #E4E4E4;
    transform: rotate(30deg);
    width: 3px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}


/*banner
========================= */
.banner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 50vh;
    font-size: calc(1em + .8vw);
    color: #E4E4E4;
    background: url(../img/sea.png) no-repeat center center; 
}

.title {
    margin-top: 5vw;
}

.banner-button {
    margin: calc(5px + 3vw);
    padding: 10px 40px;
    font-size: .8em;
    font-weight: 300;
    border: 2px solid white;
}

.points {
    position: relative;
    width: 5px;
    height: 5px;
    margin: calc(5px + 3vw);
    border-radius: 50%;
    background: #4C505D;
}

.points::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #E4E4E4;
}

.points::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #E4E4E4;
}

.extra-points::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #E4E4E4;
}

.extra-points::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #E4E4E4;
}


/*description
========================= */
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E4E4E4;    
}

.title-description {
    padding: 10vw 0;
    font-size: 3em;
    text-align: center;
    color: #4C505D;
}

.text-description {
    padding: 0 3vw;
    font-size: 1.4em;
    line-height: 2em;
    text-align: center;
    color: #4C505D;
}

.img {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    padding: 10vw 0;
}

.basket {
    width: 60px;
    height: 60px;
    background: url(../img/basket.png) no-repeat center;
}

.earth {
    width: 60px;
    height: 60px;
    background: url(../img/earth.png) no-repeat center;
}

.portfolio {
    width: 60px;
    height: 60px;
    background: url(../img/portfolio.png) no-repeat center;
}


/*review
========================= */
.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00d089; 
    color: #ffffff; 
}

.top-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.left-top-review {
    display: flex;
    justify-content: space-around;
    width: 50vw;   
}

.right-top-review {
    position: absolute;
    left: 60vw;
    font-size: 2em;
}

.quotes {
    display: flex;
    justify-content: space-around;
    width: 80px;
    height: 100px;
    font-size: 200px;
}

.pic-quotes {
    position: relative;
    width: 0.15em;
    height: 0.3em;
    background: #ffffff;
}

.pic-quotes::before {
    position: absolute;
    content: "";
    top: 0.15em;
    left: -0.01em;
    width: 0.1em;
    height: 0.1em;
    border-bottom-right-radius: 100%;
    background: #00d089;
}

.pic-quotes::after {
    position: absolute;
    content: "";
    top: 0.25em;
    left: 0.055em;
    width: 0.1em;
    height: 0.1em;
    border-top-left-radius: 100%;
    background: #00d089;
}

.top-review {
    flex-direction: row;
    width: 100%;
}

.face {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: url(../img/face.png) no-repeat;
}

.text-rewiew {
    padding: 0 3vw 5vw 3vw;
    text-align: center;
    font-size: 1.4em;
    line-height: 2em;
}


/*contact
========================= */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vw;
    background: url(../img/maps.png) no-repeat center;
}

.circle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;  
    width: 30vw;
    height: 30vw;
    padding: 10vh;
    border-radius: 50%;
    background: #ffffff;
}

.circle-button {
    width: 5vw;
    height: 5vw;
    padding-top: 2em;
    border-radius: 50%;
    background: url(../img/btn.png) no-repeat center;
}


/* footer
========================= */
.footer {
    display: flex;
    justify-content: space-around;
    min-height: 3em;
    align-items: center;
    font-size: 1.4em;
    color: #ffffff;
    background: #00d089;
}
